@import 'components/colors';
@import 'helpers/flexbox';

.markdown-output {
  word-wrap: break-word;

  a {
    color: $blue-darker;
    text-decoration: none;
  }
}

.question-section .question-container {
  border-bottom: 1px solid $gray-darker;

  .question-content {
    width: 100%;
  }

  .title {
    font-size: 20px;
  }

  .subscribed-label {
    color: $green-light;
    display: block;
    font-size: 16px;
    margin-top: 10px;
  }

  .answer-count {
    font-size: 20px;
    margin-top: 50px;
  }
}

.answer-section {
  margin-bottom: 20px;
}

.answer {
  @extend %display-flex;
  @include flex-direction(row);

  border-bottom: 1px solid $gray-darker;

  margin-bottom: 10px;
  margin-top: 10px;

  .score-container {
    @extend %display-flex;
    @include flex-direction(column);
    @include flex-align-items(center);

    text-align: center;
    width: 10%;

    .score,
    .correct-label {
      font-size: 18px;
      padding: 10px;
    }

    .action-button {
      width: 50px;

      &.correct {
        width: 80px;
      }
    }
  }

  .answer-content {
    padding: 5px;
    padding-left: 20px;
    width: 75%;
    word-wrap: break-word;

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-top: 5px;
    }
  }
}

.user-info {

  @include flex-direction(column);
  @include flex-align-items(center);

  background-color: $light;
  display: flex;
  height: 210px;
  margin-bottom: 15px;
  min-width: 170px;
  padding-top: 10px;
  width: 15%;

  .profile-link {
    display: block;
    font-size: 16px;
    margin: 5px 0;

    &:hover {
      color: $teal;
    }
  }

  .author-name {
    font-size: 16px;
  }

  .author-karma {
    color: $green-light;
    font-size: 16px;
    font-weight: bold;
    padding: 4px;
  }

  img {
    max-height: 150px;
    max-width: 150px;
  }
}

.subscribe-button,
.subscribed-label {
  float: right;
}
