@import 'components/colors';

.newQuestion-Profile {
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 10px;

	img {
		max-width: 150px;
		max-height: 150px;
	}
}

.newQuestion-form {
	.form-control {
		padding: 15px 10px;
	}

	.markdown-output {
		word-wrap: break-word;
		margin-bottom: 50px;
	}

	.tags {
		@extend %tags;
	}

	.tags.suggested {
		border: none;
		i {
			color: $gray-text-normal;
		}
	}

	.tag:hover {
		i {
			color: $teal;
		}
	}

	.tag-item {
		@extend %tag-item;
	}
}

.markdown-editor {
	margin-top: 20px;
	margin-bottom: 10px;


	.markdown-input {
		margin-bottom: 20px;
		width: 100%;
		min-height: 150px;
		border: 1px solid #ccc;
		padding: 5px;

		&:focus {
			border: 1px solid $green-light;
			box-shadow: none;
		}
	}
}

.markdown-toolbar {
	border: 1px solid #ccc;
	border-bottom: none;
	padding: 5px;
	background-color: $gray-dark;

	.markdown-button {
		box-shadow: none;
		background-color: #fff;
		border: 1px solid $gray-darker;
		color: $gray-text-normal;
		i {
			color: $gray-text-normal;
		}
	}

	.markdown-button:hover {

		background-color: #fff;
		border: 1px solid $teal;
		color: $teal;

		i {
			color: $teal;
		}
	}
}

