.comments {
  margin-top: 10px;

  textarea {
    display: block;
    margin-bottom: 5px;
    min-height: 75px;
    width: 400px;
  }

  .comment {
    background-color: $light;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;

    .comment-footer {
      /*text-align: right;*/
      width: 100%;
    }
    
    .comment-author, .comment-edit, .comment-submit {
      color: $teal;
      &:hover {
        color: $gray-text-normal;
      }
    }

    .comment-cancel {
      color: $teal;
      margin-right: 5px;
      &:hover {
        color: $gray-text-normal;
      }
    }

    .comment-body {
      margin-bottom: 5px;
    }

    .comment-actions {
      font-size: 12px;
      text-align: left;
      float: left;
    }

    .footer-details {
      font-size: 12px;
      text-align: right;
      float: right;
    }
    
    .comment-author,
    .comment-timestap {
    }
  }
}
