@import 'components/colors';

.ng-pageslide {
	background-color: white;
	border-left: 1px solid $gray-dark;
}

.notification-container {
	height: 100%;

	.notification-entry {
		cursor: pointer;
		border-bottom: 1px solid $gray-dark;
		padding: 10px 5px;
		padding-left: 10px;

	&.notification-new {
			font-weight: bold;
		}
	}
}

