@import 'components/colors';
@import 'helpers/flexbox';
@import 'helpers/mixins';
@import 'helpers/tags';

.tags {
	margin-top: 5px;
	margin-bottom: 5px;

	.tag {
		border: 1px solid $gray-darker;
		padding: 0 5px 0 5px;
		@include border-radius(4px);
		display: inline-block;
		margin-right: 5px;
		cursor: pointer;
	}

	.tag:hover {
		color: $teal;
		border-color: $teal;
	}
}

.user-details {

	@extend %display-flex;
	@include flex-vertical-aligns(center);
	@include flex-direction(row);
	@include flex-justify-content(space-between);

	margin-top: 10px;

	.name {
		font-size: 18px;
	}

	.email {
		color: $teal;
	}
}

.profile, .profile-details {
	display: inline-block;
}

.profile-details {
	margin-left: 30px;
	.karma {
		font-size: 16px;
		color: $green-light;
	}
}


/* Edit Profile */

.profile-form {
	.form-label {
		font-size: 16px;
		margin-bottom: 5px;
	}

	input.location {
		padding: 15px 5px 15px 5px;
		color: $gray-text-normal;
	}

	.tags {
		@extend %tags;
	}

	.tag-item {
		@extend %tag-item;
	}
}

/* Font awesome override */

.edit-profile {
	.fa-pencil {
		color: $gray-text-normal;
		margin-right: 5px;
	}
	font-size: 16px;
	margin-top: 20px;
}

.edit-profile:hover {
	.fa-pencil {
		color: $teal;
	}
	color: $teal;
}

.question-header{
  color: $gray-text-normal;
  font-size: 36px;
  margin: 5px;
}
