$light: #f8f8f8;

$blue-light: #00adc6;
$blue-dark: #35a0a8;
$blue-darker: #428bca;

$red: #ff3d0d;

//$teal-light: #daf6f7; Old teal light
$teal-light: #e5f7f9;
$teal: #00adc6;

$green-super-light: #3ace91;
$green-light: #26bc82;

$gray-light: #f9f9f9;
$gray-medium: #f0f0f0;
$gray-dark: #efefef;
$gray-darker: #cfcfcf;
$gray-darkest: #37474f;
$gray-text-super-light: #d2d2d2;
$gray-text-light: #838383;
$gray-text-normal: #626366;
$gray-background-light: #f8f8f8;

$border-color: #e0e0e0;
