logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
build/Release
node_modules
bower_components
.lock-wscript
config*.json
config*.yaml
web.config
web.*.config
!sample-config.yaml
!sample-web.config
server/iisnode
build
