<div class="answer">
  <div class="user-info">
    <div>
      <a ng-href="/#/profile/{{answer.author.username}}">
        <img ng-src="/api/files/avatar/{{answer.author.username}}" alt="avatar" />
      </a>
    </div>
    <a class="profile-link" ng-href="/#/profile/{{answer.author.username}}">
      <span>{{answer.author.displayName}}</span>
    </a>
    <div class="author-karma">{{answer.author.profile.karma}}</div>
  </div>
  <div class="answer-content">
    <div class="body markdown-output"  ng-bind-html="answer.body | wizMarkdownFltr"></div>
    <div class="timestamp"  ng-bind="answer.timestamp | date:'medium'"></div>
    <div so-comments="answer.comments" so-comments-add="submitComment"></div>
  </div>
  <div class="score-container">
    <button class="upvote-button action-button" type="button" ng-disable="votingInProgress || hasUpVoted()" ng-click="upvote()"><span class="fa fa-thumbs-up"></span></button>
    <div class="score">{{answer.score}}</div>
    <button class="downvote-button action-button red" type="button" ng-disable="votingInProgress || hasDownVoted()" ng-click="downvote()"><i class="fa fa-thumbs-down"></i></button>
    <button class="action-button correct" type="button" ng-click="markAsCorrect()" ng-show="isOwnQuestion() && !answer.correct">Mark As Correct</button>
    <div class="correct-label" ng-show="answer.correct">Correct!</div>
  </div>
</div>
