<div class="comments">
  <div class="comment" ng-repeat="comment in comments">
    <div class="comment-body">{{comment.body}}</div>
    <div class="comment-footer">
      <a class="comment-author" ng-href="/#/profile/{{comment.author.username}}">
        <span>{{comment.author.displayName}}</span>
      </a>
      <span class="comment-timestap" ng-bind="comment.timestamp | date:'medium'"></span>
    </div>
  </div>
  <div class="add-comment">
    <form novalidate class="add-comment-form" name="addCommentForm" ng-submit="submit()">
      <textarea type="text" name="body" required minlength=30 maxlength=10000 ng-model="body"></textarea>
      <div class="validation-messages" ng-show="!addCommentForm.$valid && addCommentForm.$submitted">
        <ng-messages for="addCommentForm.body.$error">
          <ng-message when="required">
            <p>Please enter comment</p>
          </ng-message>
          <ng-message when="minlength">
            <p>Comment is too short</p>
          </ng-message>
          <ng-message when="maxlength">
            <p>Comment is too long</p>
          </ng-message>
        </ng-messages>
      </div>
      <button class="form-submit action-button" type="submit">Add Comment</button>
    </form>
  </div>
</div>
