<div class="markdown-toolbar" >
  <button type="button" ng-click="replaceSelected('bold')" class="markdown-button"><i class="fa fa-bold"></i><span> Bold</span></button>
  <button type="button" ng-click="replaceSelected('italic')" class="markdown-button"><i class="fa fa-italic"></i><span> Italic</span></button>
  <button type="button" ng-click="replaceSelected('header')" class="markdown-button"><i class="fa fa-header"></i><span> Heading</span></button>
  <button type="button" ng-click="replaceSelected('code')" class="markdown-button"><i class="fa fa-code"></i><span> Code</span></button>
  <button type="button" ng-click="replaceSelected('ul')"class="markdown-button"><i class="fa fa-list"></i><span> UList</span></button>
  <button type="button" ng-click="replaceSelected('ol')" class="markdown-button"><i class="fa fa-list-ol"></i><span> OList</span></button>
  <button type="button" class="markdown-button"><i class="fa fa-link"></i><span> Link</span></button>
  <button type="button" class="markdown-button"><i class="fa fa-picture-o"></i><span> Img</span></button>
</div>
