<div class="newQuestion-layout container">
  <div class="newQuestion-Profile">
      <img ng-src="/api/files/avatar/{{user.username}}"/>
      <span class="name">{{user.displayName}}</span>
  </div>
  <form novalidate class="newQuestion-form" name="newQuestionForm" ng-submit="newQuestionForm.$valid && submit()">
    <div class="form-group">
        <input class="form-control" required minlength="10" maxlength=170 type="text" name="title" placeholder="Title" ng-model="title"/>
    </div>
    <div>
      <wiz-markdown-editor content="body">
        <wiz-toolbar-button command="bold" class="markdown-button"><i class="fa fa-bold"></i> Bold</wiz-toolbar-button>
        <wiz-toolbar-button command="italic" class="markdown-button"><i class="fa fa-italic"></i> Italic</wiz-toolbar-button>
        <wiz-toolbar-button command="heading" class="markdown-button"><i class="fa fa-header"></i> Heading</wiz-toolbar-button>
        <wiz-toolbar-button command="code" class="markdown-button"><i class="fa fa-code"></i> Code</wiz-toolbar-button>
        <wiz-toolbar-button command="ullist" class="markdown-button"><i class="fa fa-list"></i> UList</wiz-toolbar-button>
        <wiz-toolbar-button command="ollist" class="markdown-button"><i class="fa fa-list-ol"></i> OList</wiz-toolbar-button>
        <wiz-toolbar-button command="link" class="markdown-button"><i class="fa fa-link"></i> Link</wiz-toolbar-button>
        <wiz-toolbar-button command="img" class="markdown-button"><i class="fa fa-picture-o"></i> Img</wiz-toolbar-button>
      </wiz-markdown-editor>
      <input type="text" name="body" ng-model="body" class="hidden" required minlength="30" maxlength=10000/>
    </div>
    <wiz-markdown content="body"></wiz-markdown>
    <div>
      <tags-input name="tags" min-tags="3" max-tags="10" ng-model="tags" required display-property="text" add-on-space="true" placeholder="Add a tag">
        <auto-complete source="getTagsAutocomlete($query)" ></auto-complete>
      </tags-input>
      <div class="tags suggested" ng-show="suggestedTags.length > 0">
        <label for="suggestedTags">Suggested tags:</label>
        <span class="tag" ng-click="addTag(tag)" ng-repeat="tag in suggestedTags">{{tag}} <i class="fa fa-plus"></i></span>
      </div>
    </div>
    <div>
      <tags-input ng-model="people" display-property="email" placeholder="Who can answer your question(enter email)?" allowed-tags-pattern="\S+@\S+\.\S+">
        <auto-complete source="getPeopleAutocomplete($query)" ></auto-complete>
      </tags-input>
      <div class="tags suggested" ng-show="suggestedPeople.length > 0">
        <label for="suggestedPeople">Suggested people:</label>
        <span class="tag" ng-click="addPerson(person)" ng-repeat="person in suggestedPeople track by $index">{{person.email}} <i class="fa fa-plus"></i></span>
      </div>
    </div>
    <div class="validation-messages" ng-show="!newQuestionForm.$valid && newQuestionForm.$submitted">
      <ng-messages for="newQuestionForm.title.$error">
        <ng-message when="required">
          <p>Please enter title</p>
        </ng-message>
        <ng-message when="minlength">
          <p>Title is too short</p>
        </ng-message>
        <ng-message when="maxlength">
          <p>Title is too long</p>
        </ng-message>
      </ng-messages>
      <ng-messages for="newQuestionForm.body.$error">
        <ng-message when="required">
          <p>Please enter your question</p>
        </ng-message>
        <ng-message when="minlength">
          <p>Your question is too short</p>
        </ng-message>
        <ng-message when="maxlength">
          <p>Your question is too long</p>
        </ng-message>
      </ng-messages>
      <ng-messages for="newQuestionForm.tags.$error">
        <ng-message when="minTags">
          <p>Please enter at least three tags</p>
        </ng-message>
        <ng-message when="maxTags">
          <p>Please enter at most ten tags</p>
        </ng-message>
      </ng-messages>
    </div>
    <button class="form-submit action-button" ng-disabled="newQuestionForm.$submitted && newQuestionForm.$invalid" type="submit">Post your question</button>
  </form>
</div>
