<div class="answer-question-layout container">
  <div class="moderation-bar" ng-show="canModerate">
    Moderation:
    <a ng-click="delete()">Delete Question</a>
  </div>
  <div class="question-section">
    <div class="question-container">
      <div class="question-content">
        <div class="title" ng-bind-html="title | wizMarkdownFltr"></div>
        <button class="answer-edit" type="button" ng-click="toggleEditor()" ng-show="isOwnQuestion()"><i class="fa fa-pencil"></i></button>
        <wiz-markdown content="body"></wiz-markdown>
        <button ng-hide="isSubscribed()" class="subscribe-button action-button" ng-click="subscribeToQuestion()">Subscribe to Question</button>
        <span class="subscribed-label" ng-show="isSubscribed()">Subscribed!</span>
        <div class="timestamp"  ng-bind="timestamp | date:'medium'"></div>
        <div class="tags">
          <span class="tag" ng-repeat="tag in tags">{{tag.text}}</span>
        </div>
        <div class="tags">
          <span class="tag" ng-repeat="propsedPerson in proposedPeople">{{propsedPerson.text}}</span>
        </div>
        <!--<button class="action-button" type="button" ng-click="toggleEditor()" ng-show="isOwnQuestion()">{{shouldShowEditor ? 'Cancel Edit' : 'Edit'}}</button>-->
        <div so-edit-question=""
         so-title="editedTitle"
         so-body="editedBody"
         so-tags="editedTags"
         so-people="editedPeople"
         so-cancel="toggleEditor"
         so-cancel-text="'Cancel your edit'"
         so-submit="submitQuestionRevision"
         so-submit-text="'Confirm your edit'"
         ng-show="shouldShowEditor" ></div>
        <div so-comments="comments" ng-show="!shouldShowEditor"
         so-comments-add="submitQuestionComment"
         so-comments-edit="submitQuestionCommentEdit"
         so-comments-delete="submitQuestionCommentDelete"
         ></div>
        <div class="answer-count">{{answers.length}} Answers</div>
      </div>
      <div class="user-info">
        <div>
          <a ng-href="/#/profile/{{author.username}}">
            <img ng-src="/api/files/avatar/{{author.username}}" />
          </a>
        </div>
        <a class="profile-link" ng-href="/#/profile/{{author.username}}">
          <span>{{author.displayName}}</span>
        </a>
        <div class="author-karma">{{author.profile.karma}}</div>
      </div>
    </div>
    <div class="answers-container">
      <div ng-repeat="answer in answers"
       so-answer="answer"
       so-answer-question-id="questionId"
       so-answer-is-own-question="isOwnQuestion"
       so-answer-on-update="loadQuestion"></div>
    </div>
  </div>
  <div class="answer-section">
    <form novalidate class="answer-question-form" name="answerQuestionForm" ng-submit="submitAnswer()">
      <div>
        <wiz-markdown-editor content="answer">
          <wiz-toolbar-button command="bold" class="markdown-button"><i class="fa fa-bold"></i> Bold</wiz-toolbar-button>
          <wiz-toolbar-button command="italic" class="markdown-button"><i class="fa fa-italic"></i> Italic</wiz-toolbar-button>
          <wiz-toolbar-button command="heading" class="markdown-button"><i class="fa fa-header"></i> Heading</wiz-toolbar-button>
          <wiz-toolbar-button command="code" class="markdown-button"><i class="fa fa-code"></i> Code</wiz-toolbar-button>
          <wiz-toolbar-button command="ullist" class="markdown-button"><i class="fa fa-list"></i> UList</wiz-toolbar-button>
          <wiz-toolbar-button command="ollist" class="markdown-button"><i class="fa fa-list-ol"></i> OList</wiz-toolbar-button>
          <wiz-toolbar-button command="link" class="markdown-button"><i class="fa fa-link"></i> Link</wiz-toolbar-button>
          <wiz-toolbar-button command="img" class="markdown-button"><i class="fa fa-picture-o"></i> Img</wiz-toolbar-button>
        </wiz-markdown-editor>
      </div>
      <wiz-markdown content="answer" class="markdown-output"></wiz-markdown>
      <input type="text" name="answer" ng-model="answer" class="hidden" required minlength="30" maxlength=10000/>
      <div class="validation-messages" ng-show="!answerQuestionForm.$valid && answerQuestionForm.$submitted">
        <ng-messages for="answerQuestionForm.answer.$error">
          <ng-message when="required">
            <p>Please enter answer</p>
          </ng-message>
          <ng-message when="minlength">
            <p>Answer is too short</p>
          </ng-message>
          <ng-message when="maxlength">
            <p>Answer is too long</p>
          </ng-message>
        </ng-messages>
      </div>
      <button class="form-submit action-button" type="submit">Post your answer</button>
    </form>
  </div>
</div>
