@import 'components/colors';
@import 'components/buttons';
@import 'helpers/flexbox';
@import 'helpers/mixins';
@import 'helpers/bootstrapoverride';

@import 'layouts/questionspage';
@import 'layouts/profilepage';
@import 'layouts/notifications';
@import 'layouts/askquestion';
@import 'layouts/answerpage';
@import 'layouts/loginpage';
@import 'layouts/registerpage';
@import 'layouts/comments';

body {
	padding: 0;
	margin: 0;
	font-family: 'Segoe Ui Light', arial, sans-serif;
}

.header {
	background-color: $teal;
	height: 60px;
	padding: 15px;

	@extend %display-flex;
	@include flex-vertical-aligns(center);
	@include flex-direction(row);


	.branding {
		font-size: 20px;
		color: #fff;

		a:active,
		a:hover,
		a:visited {
			color: #fff;
		}
	}

	.search {
		margin-left: 15px;

		.search-bar {
			width: 300px;
			border: 1px solid $gray-dark;
			padding: 5px;

			@include border-radius(8px);
		}

	}

	.user {
		@extend %display-flex;
		@include flex-vertical-aligns(center);
		margin-left: auto; //Align div to the right;

		color: #fff;

		.notifications {
			cursor: pointer;

			.notices {
				border: 1px solid #fff;
				background-color: #fff;
				color: red;
				border-radius: 15px;
				padding: 5px 10px 5px 10px;
			}

			margin-right: 20px;
		}

		.profile {
			.profile-icon {
				border: 1px solid #fff;
				background-color: #fff;
				color: red;
				border-radius: 15px;
				padding: 5px 10px 5px 10px;
			}

			margin-right: 20px;
		}
	}

	.ask {
		.ask-button {
			width: 100px;
			height: 35px;
			font-size: 16px;
			text-align: center;
			display: block;
		}
	}

	.profile-menu {
		background-color: #fff;
		box-shadow: none;
		-moz-box-shadow: none;
		padding: 0;
		border: 1px solid $teal;
		top: 30px;
  		left: -25px;

		a {
			color: $teal;
		}
		a:hover {
			color: #fff;
			background-color: $teal;
		}
	}

	/* The little top arrow */
	.profile-menu:after, .profile-menu:before {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.profile-menu:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 4px;
		margin-left: -4px;
	}
	.profile-menu:before {
		border-color: rgba(0, 173, 198, 0);
		border-bottom-color: #fff;
		border-width: 10px;
		margin-left: -10px;
	}
}

.notifications-slider{
  background-color: $gray-medium;
  padding: 5px;

  .notification-entry{
    margin: 3px;
    .notification-title{
      font-weight: bold;
    }
  }
}

tags-input.ng-invalid .tags{
  box-shadow: none;
}

.validation-messages{
  color: rgb(228,0,31);
}
