<div class="answerQuestion-layout container">
  <div class="questionSection">
    <div class="question-container">
      <div class="question-content">
        <div class="title" ng-bind-html="title | wizMarkdownFltr"></div>
        <wiz-markdown content="body"></wiz-markdown>
        <button ng-hide="isSubscribed" class="subscribe-button action-button" ng-click="subscribeToQuestion()">Subscribe to Question</button>
        <span class="subscribed-label" ng-show="isSubscribed">Subscribed!</span>
        <div class="timestamp"  ng-bind="timestamp | date:'medium'"></div>

        <div class="tags">
            <span class="tag" ng-repeat="tag in tags">{{tag.text}}</span>
        </div>

         <div class="question-comments">
          <div class="comment" ng-repeat="comment in questionComments">
            <div class="comment-body">{{comment.body}}</div>
            <a class="comment-author" ng-href="/#/profile/{{comment.author.username}}">
              <div>{{comment.author.displayName}}</div>
            </a>
            <div class="comment-timestap"  ng-bind="comment.timestamp | date:'medium'"></div>
          </div>
          <div class="question-add-comment">
            <form novalidate class="add-comment-form" name="addCommentForm" ng-submit="submitQuestionComment()">
                <textarea type = "text" ng-model="questionComment"></textarea>
                <button class="form-submit action-button" type = "submit">Add Comment</button>
            </form>
          </div>
        </div>

        <div class="answer-count">{{answers.length}} Answers</div>

      </div>
      <div class="user-info">
        <div>
          <a ng-href="/#/profile/{{author.username}}">
            <img ng-src="/api/files/avatar/{{author.username}}" />
          </a>
        </div>
        <a class="profile-link" ng-href="/#/profile/{{author.username}}">
          <div>{{author.name}}</div>
        </a>
        <div class="author-karma">{{author.karma}}</div>
      </div>

    </div>
    <div class="answers-container" ng-repeat="answer in answers">
      <div class="user-info">
        <div>
          <a ng-href="/#/profile/{{answer.author.username}}">
            <img ng-src="/api/files/avatar/{{author.username}}" />
          </a>
        </div>
        <a class="profile-link" ng-href="/#/profile/{{answer.author.username}}">
          <div>{{answer.author.displayName}}</div>
        </a>
        <div class="author-karma">{{answer.author.karma}}</div>
      </div>
      <div class="answer-content">
        <div class="body markdown-output"  ng-bind-html="answer.body | wizMarkdownFltr"></div>
        <div class="timestamp"  ng-bind="answer.timestamp | date:'medium'"></div>

        <div class="answer-comments">
          <div class="comment" ng-repeat="comment in answer.comments">
            <div class="comment-body">{{comment.body}}</div>
            <!-- <div class="comment-author">{{comment.author.displayName}}</div> -->
            <a class="comment-author" ng-href="/#/profile/{{comment.author}}">
              <div>{{comment.author.displayName}}</div>
            </a>
            <div class="comment-timestap"  ng-bind="comment.timestamp | date:'medium'"></div>
          </div>
          <div class="answer-add-comment">
             <form novalidate class="add-comment-form" name="addCommentForm" ng-submit="submitAnswerComment(answer)">
                <textarea type = "text" ng-model="answer.answerComment"></textarea>
                <button class="form-submit action-button" type = "submit">Add Comment</button>
            </form>
          </div>
        </div>
      </div>
      <div class="score-container">
        <button class="upvote-button action-button" type="button" ng-disable="votingInProgress || hasUpVoted(answer)" ng-click="upvoteAnswer(answer)"><i class="fa fa-thumbs-up"></i></button>
        <div class="score">{{answer.score}}</div>
        <button class="downvote-button action-button red" type="button" ng-disable="votingInProgress || hasDownVoted(answer)" ng-click="downvoteAnswer(answer)"><i class="fa fa-thumbs-down"></i></button>
        <button class="action-button correct" type="button" ng-click="markAsCorrect(answer)" ng-show="isOwnQuestion() && !answer.correct">Mark As Correct</button>
        <div class="correct-label" ng-show="answer.correct">Correct!</div>
      </div>
      </div>

    </div>
      <div class="answerSection">
    <div class="answerQuestion-Profile">
      <img ng-src="/api/files/avatar/{{user.username}}" ></img>
      <span class="name">{{user.displayName}}</span>
    </div>
    <form novalidate class="answerQuestion-form" name="answerQuestionForm" ng-submit="submitAnswer()">
      <div>
        <wiz-markdown-editor content="answer">
            <wiz-toolbar-button command="bold" class="markdown-button"><i class="fa fa-bold"></i> Bold</wiz-toolbar-button>
            <wiz-toolbar-button command="italic" class="markdown-button"><i class="fa fa-italic"></i> Italic</wiz-toolbar-button>
            <wiz-toolbar-button command="heading" class="markdown-button"><i class="fa fa-header"></i> Heading</wiz-toolbar-button>
            <wiz-toolbar-button command="code" class="markdown-button"><i class="fa fa-code"></i> Code</wiz-toolbar-button>
            <wiz-toolbar-button command="ullist" class="markdown-button"><i class="fa fa-list"></i> UList</wiz-toolbar-button>
            <wiz-toolbar-button command="ollist" class="markdown-button"><i class="fa fa-list-ol"></i> OList</wiz-toolbar-button>
            <wiz-toolbar-button command="link" class="markdown-button"><i class="fa fa-link"></i> Link</wiz-toolbar-button>
            <wiz-toolbar-button command="img" class="markdown-button"><i class="fa fa-picture-o"></i> Img</wiz-toolbar-button>
        </wiz-markdown-editor>
      </div>
      <wiz-markdown content="answer" class="markdown-output"></wiz-markdown>
      <button class="form-submit action-button" type="submit">Post your answer</button>
    </form>
  </div>

</div>
