<div class="body-container container-fluid">
	<div class="toolbar container-fluid">
		<span>Suggested</span>
		<span>Most Wanted</span>
		<span>All</span>
	</div>
	<div class="content container">
		<div class="question-container"> <!--ng-repeat this-->
			<div class="question-content">
				<div class="title">lorem ipsum blah blah blah</div>
				<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit....</div>
			</div>
			<div class="question-status">
				<div class="answers"> 4 answers</div>
				<div class="subs">13 subs</div>
			</div>
			<div class="tags">
				<span class="tag">tag</span>
			</div>
		</div>
	</div>
</div>