<!DOCTYPE html>
<html>
<head>
  <title>{{subject}}</title>
  <style type="text/css">
    html, body{
      background-color: lightgrey;
      height: 100%;
      padding: 0;
      margin: 0;
    }
    .content{
      width: 600px;
      margin:auto;
      background-color: white;
      height: 100%;
    }
    .title{
      text-align: center;
    }
    .content > * {
      padding: 0 0.5em;
    }
    .notification{
      font-size: 16pt;
    }
    .question-link{
      font-size: 15pt;
      text-align: right
    }
  </style>
</head>
<body>
  <div class="content">
    <h1 class="title">{{branding.title}}</h1>
    <h2>You have a new notification for question:</h2>
    <a class="question-link" href="{{question.url}}">{{question.title}}</a>
    <div class="notification">
      <p>{{notification}}</p>
    </div>
  </div>
</body>
</html>
