$blue-light: #00ADC6;
$blue-dark: #35A0A8;

//$teal-light: #DAF6F7; Old teal light
$teal-light: #e5f7f9;

$green-super-light: #3ACE91;
$green-light: #26BC82;

$gray-light: #F9F9F9;
$gray-medium: #F0F0F0;
$gray-dark: #EFEFEF;
$gray-darker: #CFCFCF;
$gray-text-super-light: #D2D2D2;
$gray-text-light: #838383;
$gray-text-normal: #626366;

$border-color: #E0E0E0;

