<div class="header" ng-controller="siteHeaderController">
  <div class="branding">
    <a href="#/">Sugoi<strong>Overflow</strong></a>
  </div>
  <div class="search">
    <input class="search-bar" type="text" ng-model="searchTerms" placeholder="Search Questions" class="form-control" ng-keyup="$event.keyCode === 13 && searchQuestions()"/>
    <!-- <input class="search-bar" type="text" ng-model="searchTerms" placeholder="Search Questions" typeahead="question for questions in getTypeahead($viewValue)"  class="form-control" typeahead-loading="typeaheadLoading" typeahead-append-to-body="true" typeahead-wait-ms="150" ng-keyup="$event.keyCode === 13 && searchQuestions($value)"/> -->
  </div>
  <div class="user" ng-show="currentUser.isAuthenticated">
    <div class="notifications">
      <span class="notices">{{newNotificationsCount()}}</span>
      <span ng-click="openNotifications($event)">Notifications</span>
    </div>
     <span class="profile dropdown" dropdown >
      <a href class="dropdown-toggle" dropdown-toggle>
      <span class="profile-icon">{{user.profile.karma}}</span>
        <span class="profile-name">{{user.displayName || user.username}}</span>
      </a>
      <ul class="dropdown-menu profile-menu">
        <li>
          <a class="menu-link" ng-href="/#/profile/me">Profile</a>
        </li>
        <li>
          <a class="menu-link" ng-href="/#/logout">Logout</a>
        </li>
      </ul>
    </span>
    <div class="ask">
      <a class="ask-button" href="/#/questions/new">
          Ask
      </a>
    </div>
  </div>
  <div>
    <pageslide class="notification-slider" ps-open="notificationsOpened">
      <div class="notification-container" ng-click="$event.stopPropagation()">
        <div class="notification-status" ng-hide="hasNewNotifications()">No new notifications</div>
        <div class="notification-entry" ng-class="{'notification-read': notification.read, 'notification-new': !notification.read}" ng-repeat="notification in notifications | orderBy : '-timestamp'" ng-click="readNotification(notification)">
          <div class="notification-body">{{notification.body}}</div>
          <div class="notification-question-title">{{notification.questionTitle}}</div>
        </div>
        <button class="close-button action-button" ng-click="closeNotifications()">Close</button>
      </div>
    </pageslide>
  </div>
</div>
