<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--Include styles here -->

    <link rel="stylesheet" type="text/css" href="../../bower_components/ng-tags-input/ng-tags-input.min.css">
  </head>
  <body id="ng-app" ng-app="sugoiOverflow" ng-di-strict>
    <div class="body-container">
      <div class="content-view" ui-view></div>
    </div>

    <!-- Include scripts here -->
    <script src="../../bower_components/angular/angular.min.css"></script>
  </body>
</html>
