<div class="header">
	<div class="branding">
		<span>Sugoi<strong>Overflow</strong></span>
	</div>
	<div class="search">
		<input class="search-bar" type="text" placeholder="Search">
	</div>
	<div class="user">
		<div class="notifications">
			<span class="notices">6</span>
			<span>Notifications</span>
		</div>
		<div class="profile">
			<span class="profile-icon">J</span>
			<span class="profile-name">Jacky Chan</span>
		</div>
		<div class="ask">
			<a class="ask-button" href="#">
					Ask
			</a>
		</div>
	</div>
</div>