<div class="header" ng-controller="siteHeaderController">
  <div class="branding">
    <a href="#/">Sugoi<strong>Overflow</strong></a>
  </div>
  <div class="search">
    <input class="search-bar" type="text" ng-model="searchTerms" placeholder="Search Questions" typeahead="question for questions in searchQuestions($viewValue)"  class="form-control" typeahead-template-url="/views/shared/questionSearchTemplate.html" typeahead-loading="searchLoading" typeahead-append-to-body="true" typeahead-wait-ms="150">
  </div>
  <div class="user">
    <div class="notifications">
      <span class="notices">{{notifications.length}}</span>
      <span ng-click="openNotifications()">Notifications</span>
    </div>
    <div class="profile">
      <span class="profile-icon">J</span> <!--TODO: Replace with profile picture url -->
      <a href="#/profile"><span class="profile-name">{{user.name}}</span></a>
    </div>
    <div class="ask">
      <a class="ask-button" href="/#/questions/new">
          Ask
      </a>
    </div>
  </div>
  <div ng-include="'/views/shared/notificationShade.html'"></div>
</div>

