<div class="header">
	<div class="branding">
		<h2>Sugoi Overflow</h2>
	</div>
	<div class="search">
		<input class="search-bar" type="text" placeholder="Search">
	</div>
	<div class="user">
		<div class="notifications">
			<div class="notices">6</div>
			<span>Notifications</span>
		</div>
		<div class="profile">
			<div class="profile-icon"></div>
			<span class="profile-name">Jacky Chan</span>
		</div>
		<div class="ask">
			<a class="btn btn-default" href="#">
					Ask
			</a>
		</div>
	</div>
</div>