<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body" gs-loading="loading">
    <form ng-class="{ 'show-errors': showErrors }">
        <div class="form-errors" ng-show="errors && showErrors">
            <gs-server-form-errors response="errors"></gs-server-form-errors>
        </div>
        <div class="content">
            <div>
                <p ng-repeat="paragraph in message|paragraphs track by $index">{{paragraph}}</p>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" ng-show="buttons.ok" class="action-button" ng-click="ok()">{{buttons.ok.caption}}</button>
            <span class="button-separator" ng-show="buttons.ok && buttons.cancel"></span>
            <button type="button" ng-show="buttons.cancel" class="action-button" ng-click="cancel()">{{buttons.cancel.caption}}</button>
        </div>
    </form>
</div>

