rules:
  quotes: [1, "single", "avoid-escape"]
  no-multi-spaces: 0
  no-underscore-dangle: 0
  key-spacing: 0
  no-multi-str: 0
  new-cap: 0
  no-sync: 2
  brace-style: 0
  camelcase: 1
  consistent-return: 0
  no-process-exit: 0
  consistent-this:
    - 1
    - "self"
  func-names: 0
  max-nested-callbacks:
    - 2
    - 4
  quotes:
    - 1
    - "single"
env:
  node: true
  browser: false
