<div class="profile-layout container">
  <div class="user-details">
    <div class="profile-details">
      <div class="name">{{displayName}}</div>
      <div class="email"><a href="mailto:{{email}}">{{email}}</a></div>
      <div class="location" ng-show="location"><h4>Can be found at:</h4>{{location}}</div>
      <h4>Follows tags:</h4>
      <div class="tags">
        <a href="/#/questions/search/{{tag.text}}" class="tag" ng-repeat="tag in tags">{{tag.text}}</a>
      </div>
      <div class="edit-profile" ng-show="isOwnProfile">
        <i class="fa fa-pencil"></i><a class="button" href="#/profile/me/edit" >Edit</a>
      </div>

      <div class="my-subcribed">

      </div>
    </div>
    <div class="profile">
        <img class="avatar" ng-src="/api/files/avatar/{{username}}"/>
        <div class="karma">{{karma}}</div>
    </div>
  </div>

  <div class="question-header">Asked:</div>
  <div class="user-questions">
    <div class="question-container" ng-repeat="question in asked">
        <div class="question-content">
          <div class="title">
            <a ng-href = '/#/questions/{{question.id}}/answers'>{{question.title}}</a>
          </div>
          <div class="tags">
            <a ng-href="/#/questions/search/{{tag.text}}" class="tag" ng-repeat="tag in question.tags">{{tag.text}}</a>
          </div>
          <div class="timestap">
             <span ng-bind="question.timestamp | date:'medium'"></span>
          </div>
        </div>
        <div class="question-status">

          <div class="answers"><span>{{question.answers.length}}</span><span>answers</span></div>
          <div class="subs"><span>{{question.subscribers.length}}</span><span>subs</span></div>
        </div>
    </div>
  </div>

  <div class="question-header">Answered:</div>
  <div class="user-questions">
    <div class="question-container" ng-repeat="question in answered">
        <div class="question-content">
          <div class="title">
            <a ng-href = '/#/questions/{{question.id}}/answers'>{{question.title}}</a>
          </div>
          <div class="tags">
            <a ng-href="/#/questions/search/{{tag.text}}" class="tag" ng-repeat="tag in question.tags">{{tag.text}}</a>
          </div>
          <div class="timestap">
             <span ng-bind="question.timestamp | date:'medium'"></span>
          </div>
        </div>
        <div class="question-status">

          <div class="answers"><span>{{question.answers.length}}</span><span>answers</span></div>
          <div class="subs"><span>{{question.subscribers.length}}</span><span>subs</span></div>
        </div>
    </div>
  </div>

  <div class="question-header">Subcribed to:</div>
  <div class="user-questions">
    <div class="question-container" ng-repeat="question in subcribed">
        <div class="question-content">
          <div class="title">
            <a ng-href = '/#/questions/{{question.id}}/answers'>{{question.title}}</a>
          </div>
          <div class="tags">
            <a ng-href="/#/questions/search/{{tag.text}}" class="tag" ng-repeat="tag in question.tags">{{tag.text}}</a>
          </div>
          <div class="timestap">
             <span ng-bind="question.timestamp | date:'medium'"></span>
          </div>
        </div>
        <div class="question-status">

          <div class="answers"><span>{{question.answers.length}}</span><span>answers</span></div>
          <div class="subs"><span>{{question.subscribers.length}}</span><span>subs</span></div>
        </div>
    </div>
  </div>
</div>
