<div class="profile-layout container">
  <div class="user-details">
     <div class="profile">
        <img ng-src="{{user.profilePictureUrl}}"></img>
    </div>
    <div class="name">{{user.name}}</div>
    <!-- <div class="karma">{{user.karma}}</div> -->
  </div>
  <form novalidate class="profile-form" name="profileForm" ng-submit="submit()">
    <div class="form-group">
      <div class="form-label" for="location">Location</div>
      <input class="form-control" type="text" name="location" ng-model="location">
    </div>
    <div>
      <div class="form-label" for="specialisations">Specialisations</div>
      <tags-input ng-model="tags" add-on-space="true">
        <!-- <auto-complete source="loadTags($query)"></auto-complete> -->
      </tags-input>
    </div>
    <button class="form-submit" type="submit">Save Changes</button>
  </form>
</div>
