<div class="profile-layout" ng-controller="profileController">
	<form action="" class="profile-form" name="profileForm">
    <div class="form-control">
      <div class="form-label" for="location">Location</div>
      <input type="text" name="location">
    </div>
    <div class="form-control">
      <div class="form-label" for="specialisations">Specialisations</div>
      <input type="text" name="specialisations">
    </div>
    <button class="form-submit" type="submit"></button>
  </form>
</div>
